* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: white;
    padding: 20px;
}
h1{
    color:rosybrown;
    text-align: center;
    font-family: 'Sunflower', sans-serif;
    font-size: 60px;
}
.green-glow{
    border: 10px solid green;
    box-shadow: 0 0 20px #31b43a;
}
.red-glow{
    border: 10px solid red;
    box-shadow: 0 0 20px red;
}
.gray-glow{
    border: 10px solid grey;
    box-shadow: 0 0 20px gray;
}
body {
    background: cadetblue;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    font-family: 'Sunflower', sans-serif;
    padding: 15px 20px;
    width: 200px;
    color: white;
    font-size: 40px;
    position: relative;
}
.badge {
    background: rosybrown;
    color: white;
    font-size: 14px;
}

#user-label {
    position: absolute;
    top: 20px;
    left: -15px;
}

#computer-label {
    position: absolute;
    top: 20px;
    right: -25px;
}

.result {
    text-align: center;
    font-size: 35px;
    font-family: 'Sunflower', sans-serif;
    color: white;
}
.choices{
    text-align: center;
    margin: 50px 0;

}
.choice{
    display: inline-block;
    margin: 0 15px;
    padding: 10px;
    border: 4px solid white;
    border-radius: 50%;
}

#action-message{
    text-align: center;
    color: white;
    font-family: 'Sunflower', sans-serif;
    font-weight: bold;
    font-size: 20px;
}